<table class='table table-hover show-table' align='center'> 
	<thead>
		<tr>
			<th><p>Posição</p></th>
			<th><p class='text-center'>Nome</p></th>
			<th><p class='text-center'>Pontos</p></th>
			<th><p class='text-center'>Resultados</p></th>
			<th><p class='text-center'>%</p></th>
			<th><p class='text-center'>Placares</p></th>
			<th><p class='text-center'>%</p></th>
			<th><p class='text-center'>Ver aposta</p></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each_with_index do |user, index| %>			
			<tr>
				<% if rowspan? @users, index %>
					<td rowspan=<%= row_span_for_score_table(@users, user.current_points) %>><%= index + 1 %></td>
				<% end %>
				<td><%= user.name %></td>
				<td><p class='text-center'><%= user.points.last %></p></td>
				<td><p class='text-center'><%= user.correct_outcomes %></p></td>
				<td><p class='text-center'><%= (user.correct_outcomes_percent * 100).round 2 %>%</p></td>
				<td><p class='text-center'><%= user.correct_scores %></p></td>
				<td><p class='text-center'><%= (user.correct_scores_percent * 100).round 2 %>%</p></td>
				<td>
					<p class='text-center'><%= link_to '', user_path(user), class: 'icon-eye-open' %></p>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div align='center'>
	<%= image_tag("wc.png", size: '250')%>
</div>