<table class='table table-hover show-table' align='center'> 
	<thead>
		<tr>
			<th><p>Posição</p></th>
			<th><p class='text-center'>Nome</p></th>
			<th><p class='text-center'>Pontos</p></th>
			<th><p class='text-center'>Resultados</p></th>
			<th><p class='text-center'>%</p></th>
			<th><p class='text-center'>Placares</p></th>
			<th><p class='text-center'>%</p></th>
			<th><p class='text-center'>Ver aposta</p></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each_with_index do |user, index| %>			
			<tr>
				<% if rowspan? @users, index %>
					<td rowspan=<%= row_span_for_score_table(@users, user.current_points) %>><%= index + 1 %></td>
				<% end %>
				<td><%= user.name %></td>
				<td><p class='text-center'><%= user.points.last %></p></td>
				<td><p class='text-center'><%= user.correct_outcomes %></p></td>
				<td><p class='text-center'><%= (user.correct_outcomes_percent * 100).round 2 %>%</p></td>
				<td><p class='text-center'><%= user.correct_scores %></p></td>
				<td><p class='text-center'><%= (user.correct_scores_percent * 100).round 2 %>%</p></td>
				<td>
					<p class='text-center'><%= link_to '', user_path(user), class: 'icon-eye-open' %></p>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div align='center'>
  <a href="#myModal" role="button" class="btn large-button btn-primary" data-toggle="modal">Gráfico de desempenho</a>    
</div>
<br>
<div class='text-center'>
	<h5><strong>Próximos Jogos:</strong></h5>
	<ul class="inline">
	  <li><%= link_to @games[Game.done_count].label, game_path(@games[Game.done_count]) unless Game.done_count > Game.count %></li>
	  <li><%= link_to @games[Game.done_count + 1].label, game_path(@games[Game.done_count + 1]) unless Game.done_count + 1 > Game.count %>
</li>
	  <li><%= link_to @games[Game.done_count + 2].label, game_path(@games[Game.done_count + 2]) unless Game.done_count + 2 > Game.count %>
</li>
	</ul>
	
	<h5><strong>Últimos Jogos:</strong></h5>
	<ul class="inline">
	  <li><%= link_to @games[Game.done_count - 1].label, game_path(@games[Game.done_count - 1])%></li>
	  <li><%= link_to @games[Game.done_count - 2].label, game_path(@games[Game.done_count - 2])%></li>
	  <li><%= link_to @games[Game.done_count - 3].label, game_path(@games[Game.done_count - 3])%></li>
	</ul>
</div>
<br>
<div align='center'>
	<%= image_tag("wc.png", size: '250')%>
</div>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade plot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><p class='text-center'>Bolão Campeão </p></h3>
  </div>
  <div class="modal-body" align='center'>    
  </div>
</div>


<script type="text/javascript">
$(function () {
        $('.modal-body').highcharts({
            title: {
                text: 'Desempenho dos jogadores',
                x: -20 //center
            },

            xAxis: {
            		title: {
                    text: 'Jogos decorridos'
                },
                categories: <%= Game.rounds %>
            },
            yAxis: {
                title: {
                    text: 'Pontos'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },            
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: <%= @series.to_json.html_safe %>
        });
    });
</script>