<h2 class='text-center'><%= @user.name %></h2>
<% (0..7).each do |index| %>
  <div class="pull-left group-table">
    <table class='table'>  
      <thead>
        <tr>
          <th colspan="5"><h4 class="text-center">Grupo <%= @user.bets[6 * index].game.team1.group %></h4></th>
        </tr>
      </thead>
      <tbody>               
        <% @user.bets[6 * index.. 6 * index + 5].sort_by(&:game_number).each do |bet| %>   
          <tr>      
            <td class='img-right'>
              <%= image_tag("#{bet.game.team1.img}.png")%>
            </td>
            <td class='label-center'>
              <%= label_tag bet.game.team1.name %>
            </td>
            <td>      
            <%= bet.score_team1%> 
            X  
            <%= bet.score_team2 %> 
            </td>
            <td class='label-center'>        
              <%= label_tag bet.game.team2.name %>
            </td>
            <td class='img-left'>
              <%= image_tag("#{bet.game.team2.img}.png")%>
            </td>     
          </tr> 
        <% end %>
      </tbody>
    </table>
  </div>    
<% end %>

<div class="pull-left group-table" align='center'> 
  <h3>Campeão</h3> 
  <%= image_tag("#{@user.champion.img}.png") if @user.champion.present?%>
  <h4 class="muted"><%= @user.champion.name if @user.champion.present?%></h4>
  <h3>Artilheiro</h3>
  <h4 class="muted"><%= @user.striker %></h4>
  <h3>Pontos</h3>  
  <h4 class="muted"><%= @user.points.last %></h4> 
</div>   