<%= form_for :game, url: game_path(@game), method: :patch do |game_form| %>
	<table class='table table-center'>
		<tr>		  
	  	<%= game_form.hidden_field(:id)%>
	    <td class='img-right'>
	      <%= image_tag("#{@game.team1.img}.png")%>
	    </td>
	    <td class='label-center'>	      
	      <%= game_form.label @game.team1.name %>
	    </td>
	    <td>
	    <%= game_form.select :actual_score_team1, (0..9).to_a, {}, {class: 'select-score'} %> 
	    X  
	    <%= game_form.select :actual_score_team2, (0..9).to_a, {}, {class: 'select-score'} %>
	    </td>
	    <td class='label-center'>
	      <%= game_form.label @game.team2.name %>
	    </td>
	    <td class='img-left'>
	      <%= image_tag("#{@game.team2.img}.png")%>
	    </td>
	     <td class= 'winner'>
        <%= game_form.select :winner_id, @game.teams.collect {|team| [ team.name, team.id ] }, {}, {class: 'span2'}  %>
      </td>      
		</tr>
	</table>

<div align='center'> 
  <%= game_form.submit 'Salvar', class: "btn btn-primary large-button" %>
</div>
<% end %>

<script type="text/javascript">
  $( 'td .select-score' ).on( "change", function () {    
    if ($(this).parent().children('.select-score').first().val() == $(this).parent().children('.select-score').last().val()){       
      $(this).parents('.row').children('.winner').removeClass('hide')
    } else {
      $(this).parents('.row').children('.winner').addClass('hide')
    };
  });
</script>