<% games_number = 0%>
<% @games.each do |game| %>
  <% if games_number % 6 == 0  %>
    <div class="pull-left group-table"><table class='table'>  
      <thead>
        <tr>
          <th colspan="4"><h4 class="text-center">Grupo <%= game.team1.group %></h4></th>
        </tr>
      </thead>
      <tbody>               
  <% end %> 
    <tr>      
      <td class='img-right'>
        <%= image_tag("#{game.team1.img}.png")%>
      </td>
      <td class='label-center'>
        <%= label_tag game.team1.name %>
      </td>
      <td>
      
      <%= game.score_team1%> 
      X  
      <%= game.score_team2 %> 
      </td>
      <td class='label-center'>        
        <%= label_tag game.team2.name %>
      </td>
      <td class='img-left'>
        <%= image_tag("#{game.team2.img}.png")%>
      </td>     
    </tr> 
  <% games_number = games_number + 1 %>  
  <% if games_number % 6 == 0  %>          
    </tbody></table></div>
  <% end %>   
<% end %>

<div class="pull-left group-table" align='center'> 
  <h3>Campeão</h3> 
  
  <h4 class="muted">-</h4>
  <h3>Artilheiro</h3>
  <h4 class="muted">-</h4>
  
</div>  